.Railroad, .split-pane, .scroll-pane {
    -fx-background-color: -color-bg-default;
    -fx-text-fill: -color-fg-default;
}

.project-list-cell {
    -fx-background-color: -color-bg-inset;
}

.project-list-node {
    -fx-background-color: -color-bg-subtle;
}