.Railroad, .split-pane, .scroll-pane {
    -fx-background-color: -color-bg-default;
    -fx-text-fill: -color-fg-default;
}

.project-list-cell {
    -fx-padding: 2px;
    -fx-background-color: transparent, -color-bg-inset;
    -fx-background-insets: 0px, 2px;
}

.project-list-cell:empty {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.project-list-node, .project-list-node .Pane {
    -fx-background-color: -color-bg-subtle;
}