<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jgit" level="WARN"/>
    <logger name="com.pty4j" level="WARN"/>
    <logger name="org.gradle.tooling" level="INFO"/>
</configuration>
