.rr-radio-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 8px 16px;
}

.rr-radio-button-content {
    -fx-spacing: 8px;
}

.rr-radio-button:disabled {
    -fx-cursor: default;
}

.rr-radio-button.loading {
    -fx-cursor: wait;
}
